/* Navigation */

header {
  display: flex;
  background-color: #1f3134;
}

nav {
  margin: 5px;
  padding: 5px;
}

nav a {
  color: white;
}

/* Mapmap-container */

.content {
  display: flex;
}

.map-container {
  width: 80vw;
}

.map-content {
  height: 90vh;
  padding-top: 38px;
  width: 100%;
}

/* Search */

.info-panel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

input,
button {
  font-size: 1.2em;
}

.search {
  display: flex;
  align-items: stretch;
}

.search-input {
  border: 1.5px solid #6c848d;
  border-right: none;
  flex: 2;
  width: 100%;
}

.search-input:focus {
  background-color: #eaedf7;
}

.search-submit {
  background-color: #1f3134;
  border: 1.5px solid #6c848d;
  cursor: pointer;
  flex: 1;
}

.search-submit-button {
  background-color: #1f3134;
  border: none;
  color: white;
  cursor: pointer;
  flex: 1;
  letter-spacing: 2px;
}

.search-result {
  list-style-type: none;
}

/* Effects */

/* Breakpoints */

@media (max-width: 1400px) {
  .search {
    flex-direction: column;
  }

  .search-input {
    border: none;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .info-panel {
    width: 100%;
  }

  .map-container {
    width: 100%;
  }

  .map-content {
    height: 50vh;
    width: 100%;
  }
}
