/* General */

/* Navigation */

header {
  background-color: #1f3134;
  display: flex;
  height: 40px;
}

nav {
  margin: 5px;
  padding: 5px;
}

nav a {
  color: white;
}

/* Map-container */

.content {
  display: flex;
  height: calc(100vh - 40px);
}

.map-container {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.map-content {
  flex-grow: 1;
  width: 100%;
}

/* Search */

.info-panel {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex: 1;
}

input,
button {
  font-size: 1.2em;
}

.search {
  display: flex;
  align-items: stretch;
}

.search-input {
  border: 1.5px solid #6c848d;
  border-right: none;
  flex: 2;
  outline: none;
  width: 100%;
}

.search-input:focus {
  background-color: #eaedf7;
}

.search-submit-button {
  background-color: #1f3134;
  border: 1.5px solid #6c848d;
  color: white;
  cursor: pointer;
  flex: 1;
  letter-spacing: 2px;
  outline: none;
}

.search-submit-button:focus {
  background-color: #6c848d;
}

.search-results {
  list-style-type: none;
  overflow: scroll;
  padding: 2px;
  margin: 0;
}

.search-result {
  margin: 0;
  padding: 3px 0;
}

/* Effects */

/* Breakpoints */

@media (max-width: 1400px) {
  .search {
    flex-direction: column;
  }

  .search-input {
    border: none;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .info-panel {
    width: 100%;
  }

  .map-container {
    width: 100%;
  }

  .map-content {
    height: 50vh;
    width: 100%;
  }
  .search-results {
    height: 30vh;
  }
}
